<div class="wrapper">
  <ng-container *ngIf="!loading, else spinner">
    <div class="block-cards">
      <mat-card
        class="example-card"
        *ngFor="let message of arrMessages | paginate: { itemsPerPage: 6, currentPage: page, totalItems: lengthPages}">
        <mat-card-title-group>
          <mat-card-title>Author: {{ message.author | authorName }}</mat-card-title>
          <img mat-card-xl-image *ngIf="message.image" [src]="apiUrl + '/uploads/' + message.image" alt="image of message + {{ message.image }}">
        </mat-card-title-group>
        <mat-divider inset></mat-divider>
        <mat-card-content>Message: {{ message.message }}</mat-card-content>
      </mat-card>
    </div>
    <div class="pagination">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </ng-container>
  <ng-template #spinner>
    <mat-spinner color="warn"></mat-spinner>
  </ng-template>
</div>
