.block-cards
  display: flex
  flex-wrap: wrap
  flex-direction: column
  justify-content: center


.example-card
  margin: 15px 10px
  background: #3894eb
  box-shadow: inset 0 0 6px black
  min-height: 12rem

.mat-divider
  background: black

.mat-card-xl-image
  border-radius: 20%

.pagination
  display: flex
  justify-content: center
  margin-top: auto


.wrapper
  display: flex
  flex-direction: column
  min-height: 88%

.mat-spinner
  margin: 20% auto
