<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #form="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea name="message" required matInput ngModel #message="ngModel"></textarea>
      </mat-form-field>
      <small *ngIf="message.touched && message.invalid">
        Enter your message!
      </small>
      <button mat-raised-button class="button" *ngIf="!loading" [disabled]="form.invalid">Creat</button>
    </form>
    <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
  </mat-card-content>
</mat-card>
