mat-card
  border-radius: 0
  box-shadow: inset 0 5px 10px #3894eb !important
  min-height: 200px

small
  margin-top: -15px
  padding-bottom: 5px
  color: red
  text-align: center
  font-size: 16px


.mat-card-content
  padding: 0 25px

.button
  background: #3894eb
